.form-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disactive {
  display: none;
}

.bunches > ul > li > .bunch-menu {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
}

.bunch-menu > .bunch-title {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
}

.bunch-menu > .progress-bar {
  grid-column: 2/3;
}
